.header__container {
	height: 768px;
	position: relative;
}

.title {
	padding: 392px 0 0 130px;
	font-family: Montserrat;
	font-size: 54px;
	font-weight: 900;
	line-height: 70px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;

	height: 200px;
	width: 486px;

}

span {
	background: #C7A17A;
	color: white;
	padding: 0 15px;
}

.logotype {
	padding: 72px 0 0 130px;
}

.menu-list {
	margin: 230px 0 0 56px;
}

.list-item{
	padding: 15px 0;
	font-family: Nunito;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	opacity: .8;
	transition: all .3s;
}
.list-item a {
	color: #EDF0F5;
}

.list-item:hover{
	opacity: 1;
	font-weight: 800;
}



.nav {
	position: absolute;
	right: 0;
	top: 23px;
	height: 768px;
	width: 328px;
	background: #415167;
}

.active-li{
	font-weight: 800;
	opacity: 1;
}

.main-img {
	background-image: url(../img/coffee-menu-img.png);
	height: 768px;
	width: 690px;
	left: 481px;
	top: 23px;
	position: absolute;
	z-index: -1;
}